<ActionBar title="nativescript-google-login" class="action-bar"> </ActionBar>
<StackLayout class="p-20">
	<ScrollView class="h-full">
		<StackLayout>
			<Button text="Test Init Run First" (tap)="demoShared.init()" class="btn btn-primary"></Button>
			<Button text="Test Login" (tap)="demoShared.login()" class="btn btn-primary"></Button>
			<Button text="Test Silent Login" (tap)="demoShared.silentLogin()" class="btn btn-primary"></Button>
			<Button text="Test Logout" (tap)="demoShared.logout()" class="btn btn-primary"></Button>
		</StackLayout>
	</ScrollView>
</StackLayout>
