<ActionBar title="nativescript-shadow" class="action-bar"> </ActionBar>
<StackLayout class="p-20">
	<ScrollView class="h-full">
		<StackLayout >
			<StackLayout shadow="6" margin="10" padding="10" backgroundColor="white">
				<Label text="I should have shadow"></Label>
			</StackLayout>

			<Label
				text="Elements with shadow inside GridLayout (mainly for ios)"
				marginTop="25"
				marginBottom="10"
				textWrap="true"
			>
			</Label>
			<GridLayout
				rows="50, 100, 40"
				columns="*, *, *"
				shadow="10"
				margin="5"
				padding="10"
			>
				<Label
					text="middle"
					row="0"
					col="1"
					rowSpan="2"
					verticalAlignment="center"
					shadow="6"
				>
				</Label>
				<Label
					col="0"
					rowSpan="2"
					verticalAlignment="bottom"
					text="left-bottom"
					shadow="6"
				>
				</Label>
				<Label
					col="2"
					rowSpan="2"
					verticalAlignment="top"
					text="top-right"
					shadow="6"
				>
				</Label>
				<Label
					colSpan="3"
					row="2"
					text="Footer"
					verticalAlignment="bottom"
					horizontalAlignment="stretch"
					textAlignment="center"
					shadow="6"
					margin="5"
				>
				</Label>
			</GridLayout>
		</StackLayout>
	</ScrollView>
</StackLayout>
