<ActionBar title="nativescript-toast" class="action-bar"> </ActionBar>
<StackLayout class="p-20">
	<ScrollView class="h-full">
    <StackLayout class="h-full">
      <Label text="Short Toast" (tap)="shortToast()" class="btn"></Label>
      <Label text="Long Toast" (tap)="longToast()" class="btn"></Label>
      <Label text="Error Toast" (tap)="errorToast()" class="btn"></Label>
      <Label text="Custom Toast" (tap)="customToast()" class="btn"></Label>
    </StackLayout>
	</ScrollView>
</StackLayout>
